@use '../helpers';
@import '../theme.scss';

.filled{
    background-color: transparent;
    border: none;
    
}

.outlined{
    border: 3px solid $accent-color;
    background-color: transparent !important;
}


.container{
    @include helpers.centerFlex(true);
    border: 3px solid $accent-color;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 8px;
    background-color: $accent-color;
    max-height: 50px;
    justify-content: center;
    cursor: pointer;
}


.container p{
    color:$primary-text-color;
    font-size: $fs-medium;
    text-align: center;
    margin:0;
    align-self: center;
    justify-content: center;
  
    
}