@use '../helpers';
@import "../theme.scss";

.container {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 70px;
  height: 97vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: $spacing-small;
  padding-bottom: $spacing-small;

  background-color: $primary-color;
  box-shadow: 5px 0px 11px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 0px 11px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 0px 11px -6px rgba(0, 0, 0, 0.75);
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $spacing-small;
}

.list li {
  @include helpers.centerFlex(false);
  font-size: $fs-very-small;
  font-weight: bold;
  margin-top: $spacing-small;
  cursor: pointer;
}

.list li:hover {
  transition: scale 0.3s;
  transform: scale(1.1);
}
