@mixin centerFlex($is-row) {
  display: flex;
  align-items: center;
  align-self: center;
  @if $is-row {
    flex-direction: row;
  } @else {
    flex-direction: column;
  }
}


$mobile-breakpoint:800px;

@mixin for_mobile() {
    @media only screen and (max-width: $mobile-breakpoint) {
        @content;
    }
}


@mixin for_desktop() {
    @media only screen and (min-width: $mobile-breakpoint) {
        @content;
    }
}
