@use "./helpers.scss";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
@import "./theme.scss";


body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  color: $primary-text-color;
}

a {
  color: inherit;
  text-decoration: $primary-text-color;
}

.background {
  padding: 0;
  margin: 0;
  background-color: $secondary-color;
  min-height: 100vh;
  padding-left:$web-menu-space;
  @include helpers.for_mobile(){
    padding-left: 0;
  }
}

p {
  padding: 0px;
  margin: 0px;
  font-size: $fs-medium-small;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}


button{
  border: none;
  outline: none;
}

button:focus{
  outline: none;
}

