@use './helpers';
@import './theme.scss';

.container {
  padding-top: 10rem;
  @include helpers.for_mobile(){
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container h1 {
  margin-block-end: 0.05rem;
  margin-block-start: 0.05rem;
  font-size: 50px;
  @include helpers.for_mobile(){
    font-size: 25px;
  }
}

.specification {
  font-size: 40px;
  color: $accent-color;
  @include helpers.for_mobile(){
    font-size: 16px !important;
  }
}

.container p {
  font-size: $fs-normal;
  color: $accent-color;
  font-weight: bold;
  margin-block-end: 0.1rem;
  margin-block-start: 0.1rem;
  font-size: 35px;
  margin-left: $fs-small;
  @include helpers.for_mobile(){
    font-size: $fs-normal;
  }
}

.container li {
  @include helpers.centerFlex(true);
  margin-top: $spacing-small;
  @include helpers.for_mobile(){
    justify-content: flex-start;
    margin-top: 8px;
  }
  
}

$mobile-icon-size:27px;
$icon-size:37px;

.container svg {
  width: $icon-size;
  height: $icon-size;
  @include helpers.for_mobile(){
    width: $mobile-icon-size;
    height: $mobile-icon-size;
  }
}

.toolsHeader {
  font-size: 37px;
  @include helpers.for_mobile(){
    font-size: 18px;
  }
}

.buttonsContainer {
  margin-top: 4.2rem;
  display: flex;
  padding-right: 5rem;
  @include helpers.for_mobile(){
    flex-direction: column;
    margin-top: 2.1rem;
    padding-right: 0;
  }
}

.buttonsWrapper{
  align-self: flex-end;
  margin-left: 15vw;
  @include helpers.for_mobile(){
    margin-top: 4rem;
    margin-left:0;
    width: 100%;
   
  }
  padding-bottom: 5rem;
}

.buttons {

  display: flex;
 
  flex-direction: row;

  @include helpers.for_mobile(){

    justify-content: space-between;
    align-self: flex-start;
    width: 100%;
  }
}

.button{
  @include helpers.for_mobile(){
    max-width: none;
    margin-left: 0px;
    display: flex;
    flex-grow: 2;

  }
}

.emailButtonContainer{
  @include helpers.for_mobile(){
  
    margin-right: 10px;
  }
}

.emailButton{
  @include helpers.for_mobile(){
      font-size: 15px !important;
      margin-right: 0;
      width: fit-content;
      max-width: fit-content;
    }
    margin-left: 0px !important;
    margin-right: $spacing-small;
}

.popup{
  position: absolute;
  top: 60px;
  width: 51%;
  background-color: blue;
  height: 35px;
  border-radius: 8px;
  background-color: $color-success;
  @include helpers.centerFlex(true);
  padding:1px;

  justify-content: center;
  @include helpers.for_mobile(){
    width: 100%;
  }
}

.popup p {
  font-size: 16px;
  color:$primary-text-color;
}