@use './helpers';
@import './theme.scss';

.container{
  display: flex;    
  @include helpers.for_desktop(){
    flex-wrap: wrap;
  }
  @include helpers.for_mobile(){
    flex-direction: column;
    align-items: center;

  }
  padding-top: 3rem;
  padding-left:$spacing-normal;
  padding-right:$spacing-normal;

  padding-bottom:5rem;

}
$mobile-image-height:38vh;
$desktop-image-height:38vh;
.projectTab{
    display: flex;
    -webkit-box-shadow: 2px 3px 15px -1px rgba(0,0,0,0.48); 
    box-shadow: 2px 3px 15px -1px rgba(0,0,0,0.48);
    border-radius: 15px;
    margin-top: 3rem;
    
    @include helpers.for_desktop(){
      width: 25vw;
      height: 72vh;
      margin-right:5rem;
    }

    @include helpers.for_mobile(){
      width: 90vw;
      height:80vh;
      align-self: center;
      display: block;
    
    }
   

}


.imageContainer{
  position: absolute;
  border-radius: 12px;
  @include helpers.for_desktop(){
    width: 25vw;
    height:$desktop-image-height;
  }

  @include helpers.for_mobile(){
    width: 90vw;
    height:$mobile-image-height;
    
  }
}

.content{
  padding: $spacing-small;
  @include helpers.for_desktop(){
    margin-top: $desktop-image-height;
  }
  @include helpers.for_mobile(){
    margin-top: $mobile-image-height;

  }
}

.content p{
  @include helpers.for_desktop(){
    font-size: $fs-medium-small;
  }
  @include helpers.for_mobile(){
    font-size: $fs-small;
  }
  margin-bottom: $spacing-normal;

  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; 
   -webkit-box-orient: vertical;
   max-width: 95%;
}

.content h2{
  margin:0;
}


.linkContainer{
  margin-top: 1rem;
  @include helpers.centerFlex(true);
}

.linkContainer a{
  text-decoration-line: underline;
  color: $accent-color;
  text-decoration-color: $accent-color;
  font-weight: bold;
  margin-left: $spacing-small;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75%;



}
.linkContainer p{
  color: $accent-color;
  font-weight: bold;
  margin-left: $spacing-small;
  display: flex;
  margin-bottom: 0;

}