$primary-text-color: #f1f1f1;
$secondary-text-color: #1f1f1f;
$accent-color: #1488fc;
$primary-color: rgb(24, 26, 27);
$secondary-color: #32373b;

$color-success: #32a852;

$spacing-small: 1rem;
$spacing-normal: 1.8rem;
$spacing-medium: 2.2rem;
$spacing-big: 3rem;


$web-menu-space: 9rem;
$web-menu-width: 5rem;
$web-mobile-menu-height: 3.2rem;

//Font size
$fs-very-small: 12px;
$fs-small: 15px;
$fs-medium-small: 17px;
$fs-normal: 19px;
$fs-medium: 21px;

$max-media-width: 600px;
