$primary-text-color: #f1f1f1;
$secondary-text-color: #1f1f1f;
$accent-color: #1488fc;
$primary-color: rgb(24, 26, 27);
$secondary-color: #32373b;

$spacing-small: 1rem;
$spacing-normal: 1.8rem;
$spacing-medium: 2.2rem;

//Font size
$fs-very-small: 11px;
$fs-small: 15px;
$fs-normal: 19px;
$fs-medium: 21px;
